body {
  background-color: hsl(0, 0%, 86%);
}
.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1em;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.card img {
  height: auto;
  border-radius: 10px;
  border-radius: 10px;
}
